@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Righteous&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* Header */
header {
  background-color: #F2B544;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bpo {
  position: absolute;
  top: 52%;
  left: 57%;
}

.bpo img {
  margin-top: -265px;
  width: 450px;
  height: 140px;
  padding: 40px;
}

h1 {
  display: flex;
  margin-left: 120px;
  color: #F98439;
  margin-top: 35px;
  font-size: 25px;
  font-weight: 400;
  font-family: Righteous;
  text-align: center;
}

p {
  display: flex;
  color: #ffffff;
  padding: 25px;
  margin-top: 25px;
  margin-left: 100px;
  font-size: 15px;
  font-family: Poppins;
}

.bpo_header_botao {
  display: flex;
  padding: 40px;
  margin-left: 100px;
  width: 250px;
  color: red;
}

/* Header - FIM */
button {
  width: 270px;
  height: 50px;
  background: #F98439;
  color: white;
  border-radius: 15px;
  margin-top: 20px;
  align-items: center;
  font-family: Righteous;
  font-size: 18px;
  border-style: none;
}

section {
  background: #ffffff;
  height: 205px;
}

.bpo_main_serv {
  height: 500px;
}

.bpo_main_cf-container {
  margin-bottom: 100px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F98439;
  margin-top: 35px;
  font-size: 29, 8px;
  font-weight: 400;
  font-family: Righteous;
  text-align: center;
  padding: 20px;
}

#bpo_main_text_fun {
  display: flex;
  color: black;
  text-align: center;
  font-size: 13px;
  padding: 40px;
  margin-top: -15px;
  margin-left: 10px;
}

#bpo_main_servicos {
  width: 100%;
  height: 100%;
  background-color: #F2B544;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.bpo_main_align {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bpo_main_align p {
  color: black;
  width: 300px;
}

.bpo_main_align img {
  padding-left: 160px;
}

.bpo_main_img1 {
  padding: 0px;
}

.bpo_main_img2 {
  margin-left: 20px;
  padding: 0px;
}

.bpo_main_img2 p {
  margin-left: 125px;
}

.bpo_main_img3 {
  padding: 0px;
}

.bpo_main_img1 img {
  width: 150px;
}

.bpo_main_img2 img {
  width: 150px;
}

.bpo_main_img3 img {
  width: 150px;
}

p {
  padding: 10px;
}

#text_neg {
  margin-top: 150px;
  color: black;
  text-align: center;
  margin-left: -160px;
  font-size: 10px;
  padding: 90px;
}

/* Responsabilidades - FIM */
/* Ideal Para */
#ideal {
  justify-content: center;
  margin-top: 60vh;
  align-items: center;
}

/* Ideal Para - FIM */
/* Serviços */
h3 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F98439;
  font-size: 30px;
  font-family: Righteous;
  text-align: center;
  font-weight: 400;
  padding: 15px;
}

.bpo_main_circulo {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F98439;
  margin: -70px;
  margin-top: -5px;
  position: absolute;
}

.bpo_main_wrapper {
  display: inline-block;
  width: 270px;
  height: 50px;
  margin: 90px;
  padding: 20px;
  border: 3px solid #ffffff;
  margin-right: 25px;
  border-radius: 15px;
  position: relative;
}

#bpo_main_box {
  margin-top: -10px;
  margin-left: 5px;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
}

#bpo_main_img{
  display: flex;
  margin-top: 5px;
  margin: 1px;
  padding: 15px;
}

/*/Responsivo/*/
@media (max-width: 1300px) {
  .bpo {
    left: 50%;
  }
  .bpo_main_align {
    display: flex;
    flex-direction: column;
  }
  .bpo_main_align p {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .bpo {
    display: none;
  }
}
@media (max-width: 800px) {
  .bpo {
    display: flex;
  }
  .bpo img {
    margin-top: -300px;
    margin-left: -230px;
    padding: 0px;
  }
  .bpo_header_info {
    margin-top: 150px;
  }
  .bpo_main_cf {
    height: 60%;
  }
  .bpo_main_align {
    gap: 20px;
  }
  .bpo_main_serv {
    height: 1500px;
  }
}
@media (max-width: 428px) {
  /* Header */
  header {
    width: 100%;
    padding: 5px;
  }
  .bpo {
    display: flex;
  }
  .bpo img {
    margin-top: -330px;
    margin-left: -160px;
    width: 320px;
  }
  .bpo_header_info {
    margin-left: -80px;
  }
  /* Header - FIM*/
  /* Como funciona */
  /* Como funciona - FIM */
  /* Serviço  */
  .bpo_main_serv {
    height: 950px;
    width: 450px;
  }
  .bpo_main_wrapper {
    width: 200px;
    height: 40px;
  }
  #bpo_main_box {
    margin-top: -20px;
  }
  /* Serviço - FIM */
  /* Responsabilidades */
  .bpo_main_align {
    padding: 0px;
    margin: 0px;
  }
  .bpo_main_img1 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img2 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img3 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img1 img {
    width: 150px;
  }
  .bpo_main_img2 img {
    width: 150px;
  }
  .bpo_main_img3 img {
    width: 150px;
  }
    .bpo_main_bnf1{
    padding: 0px;
    margin-left: 110px;
  }

  }
  .bpo_main_bnf3{
    padding: 0px;
    margin-top: 25px;
    margin-left: 130px;
  }
  .bpo_main_img2 p{
    margin-left: 84px;
  }
.bpo_main_ideal1{
  padding: 0px;
  margin-left: 90px;
}

.bpo_main_ideal2{
  padding: 0px;
  margin-left: 290px;
}

.bpo_main_ideal3{
  margin-left: 90px;
  padding: 0px;
}
  p {
    padding: 10px;
  }
  p {
    text-align: center;
    padding: 10px;
  }
  /* Responsabilidades - FIM*/
}
@media (max-width: 400px) {
  /* Header */
  header {
    width: 100%;
    padding: 5px;
  }
  .bpo {
    display: flex;
  }
  .bpo img {
    margin-top: -330px;
    margin-left: -160px;
    width: 320px;
  }
  .bpo_header_info {
    margin-top: 150px;
    margin-left: -100px;
  }
  /* Header - FIM*/
  /* Como funciona */
  .bpo_main_cf-container {
    height: 100%;
    margin-bottom: 0px;
  }
  /* Como funciona - FIM */
  /* Serviço  */
  .bpo_main_serv {
    height: 950px;
    width: 385px;
  }
  .bpo_main_wrapper {
    width: 200px;
    height: 40px;
  }
  #bpo_main_box {
    margin-top: -20px;
  }
  /* Serviço - FIM */
  /* Responsabilidades */
  .bpo_main_align {
    padding: 0px;
    margin: 0px;
  }
  .bpo_main_img1 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img2 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img3 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img1 img {
    width: 150px;
  }
  .bpo_main_img2 img {
    width: 150px;
  }
  .bpo_main_img3 img {
    width: 150px;
  }
    .bpo_main_bnf1{
    padding: 0px;
    margin-left: 110px;
  }

  }
  .bpo_main_bnf3{
    padding: 0px;
    margin-top: 25px;
    margin-left: 90px;
  }
  .bpo_main_img2 p{
    margin-left: 84px;
  }
.bpo_main_ideal1{
  padding: 0px;
  margin-left: 90px;
}

.bpo_main_ideal2{
  padding: 0px;
  margin-left: 290px;
}

.bpo_main_ideal3{
  margin-left: 90px;
  padding: 0px;
}

  p {
    text-align: center;
    padding: 10px;
  }
  /* Responsabilidades - FIM*/
}
@media (max-width: 320px) {
  /* Header */
  header {
    width: 100%;
    padding: 5px;
  }
  .bpo {
    display: flex;
  }
  .bpo img {
    margin-top: -200px;
    margin-left: -130px;
    width: 240px;
  }
  p {
    font-size: clamp(1em, 1em + 1vw, 1.25em);
  }
  /* Header - FIM*/
  /* Como funciona */
  .bpo_main_cf-container {
    height: 100%;
    margin-bottom: 0px;
  }
  /* Como funciona - FIM */
  /* Serviço  */
  h3 {
    margin-left: -40px;
  }
  .bpo_main_serv {
    height: 950px;
    width: 385px;
  }
  .bpo_main_wrapper {
    margin-left: 60px;
    width: 200px;
    height: 40px;
  }
  #bpo_main_box {
    margin-top: -15px;
  }
  /* Serviço - FIM */
  /* Responsabilidades */
  .bpo_main_align {
    padding: 0px;
    margin: 0px;
  }
  .bpo_main_img1 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img2 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img3 {
    margin-left: -60px;
    padding: 0px;
  }
  .bpo_main_img1 img {
    width: 150px;
  }
  .bpo_main_img2 img {
    width: 150px;
  }
  .bpo_main_img3 img {
    width: 150px;
  }
  p {
    padding: 10px;
  }
  /* Responsabilidades - FIM*/
}/*# sourceMappingURL=bpo.css.map */